.table {
  display: block;  /* cuts the table field width */
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 3px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table thead {
  background-color: #8f8a8a98;
}

.table tr {
  border-radius: 10px;
  /*box-shadow: 0px 5px 5px #ccc;  /* boxes two row and creates a shadow behind them */
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #ddd;
}
