.welcome {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2em;
}

.client {
  color: #0db10d;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1em;
}

.filter-width {
  width: 50%;
}

@media (max-width: 768px) {
  .filter-width {
    width: 100%;
  }
}

.better-width {
  width: 30%;
}

@media (max-width: 768px) {
  .better-width {
    width: 50%;
  }
}